spring:
  application:
    name: pet-clinic
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SPRING_JPA_SHOW_SQL}
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  jwt:
    secret: ${JWT_SECRET_STRING}

